	<SYSTEM>
	<AKMAutoSaveEnabled>
		false
	</AKMAutoSaveEnabled>
	<RemoteAccessEnabled>
		true
	</RemoteAccessEnabled>
	<ProxyEnabled>
		false
	</ProxyEnabled>
	<ServerName>
		Internet Access Manager
	</ServerName>
	<HTTPProtocol>
		HTTP/1.1
	</HTTPProtocol>
	<sysPassword>
		1C-10-14-14-5-0-8
	</sysPassword>
	<sysUsername>
		D-3A-7-2-9-5-3-5
	</sysUsername>
	<RtrTelnetIP>
		192.168.1.1
	</RtrTelnetIP>
	<RtrTelnetUsername>
		49-26-26-29-7-9-6
	</RtrTelnetUsername>
	<RtrTelnetPassword>
		20-14-18-18-3-6-0
	</RtrTelnetPassword>
	<ResourceDirectory>
		Resource
	</ResourceDirectory>
	<MaxAccessKeyPool>
		25
	</MaxAccessKeyPool>
	<UnusedKeyDuration>
		5
	</UnusedKeyDuration>
	<AdminIdleDuration>
		5
	</AdminIdleDuration>
	<AdsPopUpChance>
		5
	</AdsPopUpChance>
	<ProxyPort>
		3128
	</ProxyPort>
	<WebPort>
		80
	</WebPort>
	<BlackListed>
		<CBlackListItem>
				<keyword>
					12312
				</keyword>
				<exact_check>
					false
				</exact_check>
				<case_sen>
					false
				</case_sen>
		</CBlackListItem>
		<CBlackListItem>
				<keyword>
					12321
				</keyword>
				<exact_check>
					true
				</exact_check>
				<case_sen>
					false
				</case_sen>
		</CBlackListItem>
		<CBlackListItem>
				<keyword>
					13
				</keyword>
				<exact_check>
					true
				</exact_check>
				<case_sen>
					true
				</case_sen>
		</CBlackListItem>
	</BlackListed>
	</SYSTEM>